.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.logout {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}
